---
import Facebook from "../icons/Facebook.astro"
import Gmail from "../icons/Gmail.astro"
import Discord from "../icons/Discord.astro"
---
<div id="buttons" class="w-full flex flex-col items-center gap-y-3 py-4 max-md:py-2">
    <a href="" class="bg-[#3c5a9a] rounded-full max-md:text-sm max-md:w-[300px] max-md:py-2.5 w-[400px] py-3.5 text-white text-center font-medium flex justify-center gap-x-2"><Facebook></Facebook> Log in with facebook</a>
    <a href="" class="bg-[#FFFF] rounded-full  max-md:text-sm max-md:w-[300px]  max-md:py-2.5 w-[400px] py-3.5 text-black text-center font-medium flex justify-center gap-x-2 border-black border-[1px] border-opacity-60"><Gmail></Gmail> Log in with Google</a>
    <a href="" class="bg-[#5865F2] rounded-full max-md:text-sm  max-md:w-[300px] max-md:py-2.5 w-[400px] py-3.5 text-white text-center font-medium flex justify-center gap-x-2"><Discord></Discord> Log in with Discord</a>
</div>