---

---
<div class="w-full">
    <form class="max-md:w-[300px] max-w-[455px] mx-auto">
        <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-black text-opacity-40">Your email</label>
        <input type="email" id="email" class="bg-[#FFFF] bg-opacity-60 border-[1px] border-gray-300 max-md:text-[12px] text-black text-opacity-20 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-md:p-2 p-2.5" placeholder="email" required />
        </div>
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-black text-opacity-40">Your password</label>
            <input type="email" id="email" class="bg-[#FFFF] bg-opacity-60 border-[1px] max-md:text-[12px] border-gray-300 text-black text-opacity-20 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-md:p-2 p-2.5" placeholder="password" required />
        </div>
        <div class="flex items-start mb-5">
        <a class="max-md:text-xs text-sm text-black text-opacity-60 underline absolute left-[54%]">Forget your password?</a>
    </form>
</div>