---

---
<div class="max-md:gap-x-3 flex flex-row gap-x-4 w-full items-center justify-center">
    <div class="max-md:w-[125px] w-[200px] h-[2px] bg-[#666666] opacity-20"></div>
    <h2 class="max-md:text-sm text-base font-medium text-[#666666] text-opacity-85">OR</h2>
    <div class="max-md:w-[125px] w-[200px] h-[2px] bg-[#666666] opacity-20"></div>
</div>