---
import Layout from "../layouts/Layout.astro"
import CreateAC from "../components/CreateAC.astro"
---

<Layout title="create account">
    <main class="backdrop-blur-5 w-full h-full flex justify-center items-center">
        <CreateAC class="astro"></CreateAC>
    </main>
</Layout>