---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.astro';
---

<Layout title="Login">
	<main class="backdrop-blur-5 w-full h-full flex justify-center items-center">
		<Login class="astro"></Login>
	</main>
</Layout>

